includes:
	- extension.neon
	- phpstan-with-extension-baseline.neon

parameters:
	inferPrivatePropertyTypeFromConstructor: true
	reportUnmatchedIgnoredErrors: false
	level: max
	paths:
		- src/
		- test/
	tmpDir: .build/phpstan
